*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* Mobile Breakpoints */
@mixin breakpoint($point) {
  @if $point == tablet {
    @media (max-width: 702px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 520px) { @content; }
  }
  @else if $point == mobile-menu {
    @media (max-width: 702px) { @content; }
  }
}



/* Color Variables */
$red: #A60C0C;
$dark-red: #800909;
$light-grey: #373737;
$grey: #1f1f1f;
$black: #121010;


html,body {
	height: 100%;
}

body {
	background-color:#eee;
	background-size: 100%;
	background-position: 0px 200px;
	font-size: .9em;
	font-family: 'Open Sans', sans-serif;


}
/* Structure Style */
.container {
	width: 100%;
}

.row {
	max-width: 1000px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0px 15px;
}

.row {
	.row {
		padding: 0px;
	}
}
.one {
	width: 100%;
}

.two {
	width: 49%;
}

.three {
	width: 32%;
}

.two-third {
	width: 66%;
}
.four {
	width: 23.5%;
}

.five {
	width: 18.4%;
}

.six {
	width: 15%;
}

.columns {
	float: left;
	margin-right: 2%;
}

.row {
	.columns:last-child {
		margin-right: 0px;
	}
}

.last {
	margin-right: 0px;
}

.content {
	width: 69%;
	float:left;
	margin-right: 3%;
	margin-top: 30px;

	@include breakpoint(tablet) {
		width: 100%;
	}
}

.sidebar {
	margin-top: 30px;
	width: 28%;
	float: right;

	@include breakpoint(tablet) {
		width: 100%;
	}
}

/* Top Bar Style */

.top-bar {
	background: $light-grey;
	color: white;
	font-size: 100%;
	padding: 5px 0px;
	border-top: 3px solid $dark-red;
}


/* Header Styles */
.header {
	background-color: $grey;
	padding: 20px 0px;
}

nav {
	font-size: 16px;
	color: white;
	list-style: none;
	li {
		float:left;
		margin: 0px 13px;
		a {
			color: white;
			text-decoration: none;
		}
		&:first-child {
			margin-left: 0px;
		}
		&:last-child {
			margin-right: 0px;
		}

	}
}

/* Menu Styles */
.menu {
	background: $light-grey;
	padding: 7px 0px;

	@include breakpoint(tablet) {
		padding: 0px;
	}

	.row {
		@include breakpoint(tablet) {
		padding: 0px;
		}
	}
}

/* Mobile Menu Styles */

#mobile-menu-btn {
	color: white;
	background: $red;
	width: 100%;
	padding: 10px 0px;
	text-align: center;
}
.menu nav {
	@include breakpoint(tablet) {
		display: none;
	}
}

#mobile-menu {
	display: none;

	@include breakpoint(tablet) {
		display: none;
	}
}

#mobile-menu-btn {
	display:none;
	font-size: 18px;
	text-decoration: none;

	@include breakpoint(tablet) {
		display: inline-block;
	}
}

/* Main Content Styles */

/* Page Styles */
.page-title {
	border-bottom: 3px solid $red;
	margin-top: 0px;
	padding-bottom: 10px;
	line-height: 100%;

}

.home-content {
	@include breakpoint(tablet) {
		width: 100%;
	}
}
/* Home Page Styles */
.home-box {
	padding: 10px;
	background-color: white;
	box-shadow: 0 0 7px rgba(0,0,0,0.1);
}

.home-page {
	.subtitle {
		margin: 0px;
		padding: 13px;
		border-bottom: #999;
		color: white;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 300;
		background-color: $red;
	}
}

.recent-mixes {
	margin-bottom: 30px;
}
.recent-mix-list {
	list-style: none;
	margin: 0px;
	padding: 0px;
	li {
		width: 48%;
		float: left;
		margin: 0px 2% 13px 0px;
		@include breakpoint(mobile) {
			width: 100%;
			margin-bottom: 10px;
		}

		img {
			float: left;
			margin-right: 5px;
			width: 68px;
			height: 68px;
			border: 1px solid rgb(235, 235, 235);
		}

		.mix-name{
			margin-top: 5px;
		}
	}

	li:nth-child(2n+1) {
		margin-right: 0px;
		clear: both;
	}
}

.mp3-download {
	margin-bottom: 30px;
}

.mp3-download-list {
	list-style: none;
	margin: 0px;
	padding: 0px;
	li {
		width: 48%;
		float: left;
		margin: 0px 2% 13px 0px;
		@include breakpoint(mobile) {
			width: 100%;
			margin-bottom: 10px;
		}

		img {
			float: left;
			margin-right: 5px;
			width: 68px;
			height: 68px;
			border: 1px solid rgb(235, 235, 235);
		}

		.mix-name{
			margin-top: 5px;
		}
	}

	li:nth-child(2n) {
		margin-right: 0px;
	}
}
.slider {
	margin-top: 30px;
	img {
		width: 100%;
	}
}

.home-sidebar {

}

.home-more-btn {
	padding: 5px;
	color: white;
	background-color: $light-grey;
	text-decoration: none;
	border-radius: 3px;
	float: right;
}

.mixtape-download {
	margin-bottom: 30px;
}

.mixtape-download-list {
	list-style: none;
	margin:0px;
	padding: 0px;
	
	li {
		width: 32%;
		float: left;
		margin-right: 2%;
		margin-bottom: 4px;
		text-align: center;

		@include breakpoint(tablet) {
			width: 48%;
			margin-right: 4%;
		}
		
		img {
			margin-bottom: 10px;
			border: 1px solid #ededed;
		}

	}

	li:nth-child(2n+2) {
		margin-right: 0px;

		@include breakpoint(mobile) {
			margin-right: 0%;
		}
	}

	.download-mixtape {
		padding: 5px;
		background-color: $light-grey;
		color: white;
		border-radius: 3px;
		text-align: center;
	}

	.mixtape-single {
		img {
			width: 100%;
		}
	}
}


.home-blog {
	margin-bottom: 30px;

	@include breakpoint(tablet) {
		width: 100%;
	}
}

.home-blog-list {
	padding: 0px;
	margin: 0px;
	list-style: none;

	li {
		width: 100%;
		margin-bottom: 13px;
		clear:both;
		display: block;

		@include breakpoint(mobile) {
			width: 100%;
			margin-bottom: 10px;
		}

		img {
			float: left;
			width: 30%;
			margin: 0px 15px 0px 0px;
		}

		p {
			clear: both;
		}
	}
}

.home-video {
	margin-bottom: 30px;

	@include breakpoint(tablet) {
		width: 100%;
	}
}

.home-video-list {
	padding: 0px;
	margin:0px;
	list-style: none;

	li {
		float: left;
		width: 32%;
		margin-right: 2%;

		@include breakpoint(mobile) {
			width: 48%;
			margin-bottom: 10px;
			margin-right: 4%;
		}

		img {
			width: 100%;
		}
	}

	li:nth-child(3n) {
		margin-right: 0px; 

		@include breakpoint(mobile) {
			margin-right: 4%;
		}
	}

	li:nth-child(2n+2) {
		@include breakpoint(mobile) {
			margin-right: 0px;
		}
	} 

	.video-name {

	}
}

.full-add {
	img {
		width: 100%;
	}
	margin-bottom: 30px;
}
/* Staff Page Style */

.staff-page {
	margin-top: 30px;
}
.staff-list {
	padding-left: 0px;
	list-style: none;
	text-align: center;

	.single-staff {
		width: 23.5%;
		float: left;
		margin-right: 2%;

		p {
			margin: 0px;
			padding: 10px;
		}
	}
	li {
		margin-bottom: 10px;
		p {
			font-size: 16px;
			font-weight: bold;
		}
		img {
			max-width: 90%;
			border-radius: 5px;
			max-height: 205px;
		}
	}
	li:nth-child(4n+4) {
		margin-right: 0px;
	}
}

.staff-social-icon {
	li {
		float:left;
		list-style: none;
	}
}

.subtitle {
	margin-top: 0px;
	margin-bottom: 5px;
	font-family: inherit;
}

.profile-bio {
	margin-top: 25px;
}

.profile-links {

	ul {
		margin-top: 0px;
	}
	.social-icons {
		
		ul {
			width: 100%;
			list-style: none;
			padding-left: 0px;
			padding-top: 0px;
			margin: 0px;
			float: right;
			margin-bottom: 20px;
		}
		li {
			float:left;
			width: 30px;
			margin-right: 10px;
			img {
				width: 100%;
			}
		}
	}
}

.profile-phone {
	list-style: none;
	padding-left: 0px;
}
.profile-img img {
	width: 100%;
}

.staff-mixes {
	margin: 30px 0px;

	table {
		width: 100%;
	}

	td {
		padding: 5px 0px;
	}
	.mix-name {
		width: 80%;
	}
	.mix-download {
		width: 20%;
		text-align: right;
	}
}


.download-btn {
	background-color: $red;
	color: white;
	padding: 3px 5px;
	text-decoration: none;
	font-size: 16px;
	border-radius: 3px;
}

.staff-event-list {
	padding: 0px;
	margin-left: 0px;
	list-style: none;

	.single-event {
		background: #eee;
		padding: 10px;
		border: 1px solid #D8D8D8;
		margin-bottom: 15px;
		border-radius: 3px;
	}
	.event-name {
		margin: 0px 0px 8px;
		padding-bottom: 4px;
		border-bottom: 1px solid #d8d8d8;

	}
	.event-img {
		float: left;
		margin-right: 10px;
	}

	.event-info {
		margin-top: 0px;
	}

	.event-detail {
		float: right;
		background-color: $red;
		color: white;
		padding: 3px 5px;
		text-decoration: none;
		font-size: 16px;
		border-radius: 3px;
		position: relative;
		top: 28px;
	}
}

/* Blog Page Styles */
.single-post-summary {
	width: 100%;
	margin-bottom: 15px;
	.subtitle {
		padding: 0px 0px 7px;
		margin-bottom: 7px;
		border-bottom: 1px solid #d8d8d8;
		line-height: 100%;
	}
	.single-post-info {
		width: 100%;
		background-color: $red;
		border-radius:4px;
		color:white;
		padding: 5px 10px;
		margin-bottom: 7px;
		div {
			float: left;
			margin-right: 20px;

		}
	}
	.post-img {
		float: left;
		margin: 0px 15px 20px 0px;
		width: 35%;
	}

	.post-more-btn {
		background-color: $light-grey;
		color: white;
		padding: 5px 7px;
		text-decoration: none;
		border-radius: 4px;
		float: right;
		margin-top: 15px;
	}
}
/* Sidebar Styles */
.ads {
	list-style: none;
	padding-left: 0px;
	margin-top: 0px;
	img {
		width: 100%;

		@include breakpoint(tablet) {
			width: 100%;
		}
	}

	li {
		margin-bottom: 30px;

	}

	@include breakpoint(tablet) {
		li:nth-child(1) {
			width: 48%;
			float: left;
		}

		li:nth-child(2) {
			width: 48%;
			float: right;

		}

		li:nth-child(2)::after {
			clear: both;
		}
	}
}

.sidebar-photo {
	margin-bottom: 35px;
	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		li {
			margin-bottom: 10px;
			border-bottom: 1px solid #EBEBEB;
			padding-bottom: 10px;
			img {
				width: 80px;
				margin-right: 10px;
				float: left;
			}

			.album-date {
				font-size: .5em;
			}
			
			.album-name {
				font-size: .9em;
			}

			.album-location {
				font-size: .7em;
			}

		}
		li:last-child {
			margin-bottom: 0px;
			padding-bottom: 2px;
			border:none;
		}
	}
}

.side-album-btn {
	background-color: $light-grey;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	padding: 7px;
	border-radius: 3px;
	a {
		color: white;
		text-decoration: none;

	}
}

/* Music Page Style */

.music-singles {
	margin-bottom: 30px;

	.home-more-btn {
		margin-top: 10px;
	}
}

.music-single-list {
	padding: 0px;
	margin: 0px;
	list-style: none;

	li {
		width: 100%;
		padding: 4px 0px;
	}

	.download-btn {
		float:right;
		font-size: .8em;
	}

}


.page-search {
	width: 100%;
	margin-bottom: 20px;

	.search-music {
	width: 68%;
	margin-right: 2%;
	float:left;
	font-size: 1.5em;
	padding: 18px 0px;
	text-indent: 10px;
	border-radius: 4px;
	border: none;
	background: #eee;
	}

	.search-music:focus {
		outline: none;
		border:none;
	}

	.submit-search {
		width: 30%;
		background-color: $red;
		padding: 16px 0px;
		border: 2px solid $dark-red;
		outline: none;
		color: white;
		border-radius: 4px;
		font-size: 1.5em;
		font-weight: lighter;
	}
}

/* Mixes Page Style */

.single-mixtape {
	width: 100%;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 10px;

	&:last-of-kind {
		border:none;
	}
	img {
		width: 20%;
		float: left;
		margin-right: 2%
	}

	.mixtape-info {
		width: 78%;
		float: right;
	}

	.mixtape-title {
		width: 100%;
		font-weight: bolder;
		font-size: 1.05em;
	}

	a {
		float: right;
		margin-left: 10px;
		text-decoration: none;
	}

	.listen-mixtape-btn, .download-mixtape-btn {
		padding: 5px 7px; 
		background-color: $light-grey;
		color: white;
		position: relative;
		top: 40px;
		border-radius: 3px;
	}

	.mixtape-detail {
		width: 40%;
		ul {
			margin:0px;
			padding: 0px;
			list-style: none;
		}
	}
}

/* Events Page Style */
.events-page-list {
	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
	}

	li {
		width: 49%;
		float: left;
		margin-right: 2%;
		margin-bottom: 20px;
		img {
			width: 25%;
			float: left;
			margin-right: 2%;
		}


		@include breakpoint(mobile) {
		width: 100%;
	}
	}

	li:nth-child(2n+2) {
			margin-right: 0px;
	}

	.event-detail {
		width: 73%;
		float: left;
		margin: 0px;

		li {
			width: 100%;
			margin-bottom: 5px;
			line-height: 100%;
		}

		.event-name {
			font-weight: bolder;
			font-size: 1.1em;
		}
	}
}

.event-detail-btn {
	background-color: $light-grey;
	color: white;
	padding: 5px 7px;
	font-size: .8em;
	float: right;
	border-radius: 4px;
	text-align: center;
	text-decoration: none;
}

/* Single Event Page Styles */

.single-event-detail{
	width: 100%;
	margin-right: 2%;
	float: left;
}
.single-event-detail-table {
	width: 49%;
	margin-right: 2%;
	float: left;

	tr {
		height: 25px;
	}

	.event-detail-left {
		width: 50%;
		text-align: right;
		font-weight: bolder;
		padding-right: 10px;
	}

	.event-detail-right {
		width: 50%;
	}
}

.single-event-flyer {
	width: 49%;
	float: left;

	img {
		width: 100%;
	}
}


.single-event-map {
	width: 100%;
	img {
		width: 100%;
	}
}

.single-event-share {
	text-align: center;
	padding: 20px 0px;
}
/* Single Mixtape Page Style */

.mixtape-cover {
	width: 30%;
	float: left;
}

.mixtape-detail {
	width: 70%;
	float: left;
	font-size: 1em;
	ul {
		list-style: none;
		margin: 0px 0px 0px 20px;
		padding: 0px;
	}
}

.mixtape-soundcloud-player {
	width: 100%;
	margin-top: 20px;
}

/* Single Post Page Style */
.single-post {
	.single-post-info {
		width: 100%;
		background-color: $red;
		border-radius:4px;
		color:white;
		padding: 5px 10px;
		margin-bottom: 20px;
		div {
			float: left;
			margin-right: 20px;

		}
	}
}
.post-thumb {
	float: left;
	width: 300px;
	margin: 0px 20px 20px 0px;
}

/* Comments Style */

.comments {
	margin-top: 30px;
}

.post-comment-btn {
	padding: 10px 12px;
	font-size: 1.2em;
	background-color: $light-grey;
	color: white;
	text-decoration: none;
	border-radius: 4px;
	float: right;
	margin-top: 10px;
}

